@model IEnumerable<Datn_Shared.ViewModels.BillDetailViewModels.BillDetailView>

@{
    ViewData["Title"] = "BillDetails";
    <link rel="stylesheet" href="~/css/text.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/billdetails.css" asp-append-version="true" />
}
<div class="card" style="margin-bottom : 100px">
    <div class="card-body">
        <div class="container mb-5 mt-3">
            <div class="row d-flex align-items-baseline">
                <div class="col-xl-9">
                    <p style="color: #7e8d9f;font-size: 20px;">Invoice >></p>
                </div>
                <div class="col-xl-3 float-end">
                    @*<a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark">
                        <i class="fas fa-print text-primary"></i> Print
                    </a>
                    <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark">
                        <i class="far fa-file-pdf text-danger"></i> Export
                    </a>*@
                </div>
                <hr>
            </div>

            <div class="container">
                <div class="col-md-12">
                    <div class="text-center" style="font-weight : bold;">
                        <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
                        <div class="wrapper" style="margin-bottom : 20px">
                            <div class="bg"> BillDetails </div>
                            <div class="fg"> BillDetails </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xl-8">
                    <ul class="list-unstyled">
                    <li class="text-muted">Tên: @Model.First().Bill.CustomerName</li>
                    <li class="text-muted">Địa chỉ: <span style="color:#5d9fc5 ;">@Model.First().Bill.Address</span></li>

                    <li class="text-muted"><i class="fas fa-phone"></i>Số điện thoại: <span style="color:#5d9fc5 ;">@Model.First().Bill.CustomerPhone</span></li>
                    </ul>
                    </div>
                    <div class="col-xl-4">
                    <ul class="list-unstyled">
                    <li class="text-muted">
                    <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">Creation Date: @Model.First().Bill.CreateDate</span>
                    </li>
                    <li class="text-muted">
                    <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="me-1 fw-bold">Status:</span>
                                @if (Model.First().Bill.BillStatusId == Guid.Parse("a51f7c3c-a8e7-4c0a-aeea-b6fc70492bf5"))
                                {
                                    <span>Đã xác Nhận</span>
                                }
                                else if (Model.First().Bill.BillStatusId == Guid.Parse("b392b872-712a-41a7-8542-83fb58249c23"))
                                {
                                    <span>Đang lấy hàng</span>
                                }
                                else if (Model.First().Bill.BillStatusId == Guid.Parse("00357f21-9356-468b-8c0c-b590e3d1bc0a"))
                                {
                                    <span>Đang giao hàng</span>
                                }
                                else if (Model.First().Bill.BillStatusId == Guid.Parse("33c0bdd2-85ca-4f05-9360-22be333895fe"))
                                {
                                    <span>Giao hàng thành công</span>
                                }
                                else
                                {
                                    <span>Chờ xác nhận</span>
                                }
                    </li>
                    <li class="text-muted">
                    <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="me-1 fw-bold">Phương thức thanh toán:</span>
                                @if (Model.First().Bill.PaymentId == Guid.Parse("a51f7c3c-a8e7-4c0a-aeea-b6fc70492b16"))
                                {
                                    <span>Bank transfer</span>
                                }
                                else
                                {
                                    <span>Ship(COD)</span>
                                }
                    </li>
                    </ul>
                    </div>
                    </div>

                <div class="row my-2 mx-1 justify-content-center">
                    <table class="table table-striped table-borderless">
                        <thead style="background-color:#84B0CA ;" class="text-white">
                            <tr>
                                <th scope="col">Sản Phẩm</th>
                                <th scope="col">Số Lượng</th>
                                <th scope="col">Giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model)
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Price</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
</div>



