@model IEnumerable<Datn_Shared.ViewModels.ProductDetailViewModels.ViewProductDetail>
@using Datn_Shared.Models;
@using Datn_Shared.ViewModels.ProductDetailViewModels;
@using Datn_Shared.ViewModels.ProductViewModels;

@{
    ViewData["Title"] = "Index";
    var tip = (ViewData["t"] as List<Tip>);
    var shaft = (ViewData["s"] as List<Shaft>);
    var weight = (ViewData["w"] as List<Weight>);
    var productdt = (ViewData["pdt"] as List<ViewProductDetail>);
    var category = (ViewData["p"] as List<ProductView>);


}
<div class="pagetitle">
    <h1>Quản lý Sản phẩm chi tiết</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Tổng quan</li>
            <li class="breadcrumb-item active">Danh mục</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->
<div class="pagetitle">
    <h1>Quản lý sản phẩm chi tiết</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Tổng quan</li>
            <li class="breadcrumb-item active">Danh mục</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<section class="section dashboard">
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">
                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">

                        <div class="card-body">
                            <h5 class="card-title">Sản phẩm <span>| </span></h5>

                            <table class="table table-hover datatable">
                                <thead>
                                    <tr>
                                        <th>tên Sản phẩm</th>
                                        <th>Tên tip</th>
                                        <th>Tên shaft</th>
                                        <th>weight</th>
                                        <th>ImportPrice</th>
                                        <th>Price</th>
                                        <th>Ảnh</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @Model)
                                    {
                                        <tr>
                                            <td>@item.ProductName</td>
                                            <td>@item.TipName</td>
                                            <td>@item.ShaftName</td>
                                            <td>@item.WeightName</td>
                                            <td>@item.ImportPrice</td>
                                            <td>@item.Price</td>
                                            <td>
                                                @foreach (var item2 in item.Image)
                                                {
                                                    <img src="~/images/products/@item2" width="50" />
                                                }
                                            </td>
                                            <td>
                                                <a asp-area="Admin" asp-controller="ProductDetail" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-success">
                                                    <i class="bx bxs-detail"></i>
                                                </a>
                                                <a asp-area="Admin" asp-controller="ProductDetail" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Bạn chắc chắn có muốn xóa??')" title="Xóa">
                                                    <i class="bx bxs-trash-alt"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div><!-- End Recent Sales -->
            </div>

        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-4">

            <!-- Recent Activity -->
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Sửa <span>| xx</span></h5>
                    <!-- Default Tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
                                    aria-selected="false">
                                Chi tiết
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link " id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                    aria-selected="true">
                                Cập nhật
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                                    aria-selected="false">
                                Tạo mới
                            </button>
                        </li>
                    </ul>

                    @* Update *@
                    <div class="tab-content pt-2" id="myTabContent">
                        <div class="tab-pane fade" id="home" role="tabpanel"
                             aria-labelledby="home-tab">
                            @if (productdt != null)
                            {
                                <form asp-area="Admin" asp-controller="ProductDetail" asp-action="Update" asp-route-id="@productdt.First().Id" enctype="multipart/form-data">
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Tên</label>
                                        <select asp-for="@productdt.First().ProductID" class="form-select" aria-label="Default select example">

                                            <option>Chọn tên</option>
                                            @foreach (var item in category)
                                            {
                                                @if (@item.Id == productdt[0].ProductID)
                                                {
                                                    <option selected value="@item.Id">@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Name</option>

                                                }
                                            }
                                        </select>


                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Tên tip</label>
                                        <select asp-for="@productdt.First().TipId" class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            @foreach (var item in tip)
                                            {
                                                @if (@item.Name == productdt[0].TipName)
                                                {
                                                    <option selected value="@item.Id">@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Name</option>

                                                }
                                            }
                                        </select>

                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Tên shaft</label>
                                        <select asp-for="@productdt.First().ShaftId" class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            @foreach (var item in shaft)
                                            {
                                                @if (@item.Name == productdt[0].ShaftName)
                                                {
                                                    <option selected value="@item.Id">@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Name</option>

                                                }
                                            }
                                        </select>

                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Tên weight</label>
                                        <select asp-for="@productdt.First().WeightId" class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            @foreach (var item in weight)
                                            {
                                                @if (@item.Name == productdt[0].WeightName)
                                                {
                                                    <option selected value="@item.Id">@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id">@item.Name</option>

                                                }
                                            }
                                        </select>

                                    </div>
                                    @*   <div class="mb-3 row">
                                <label class="col-sm-4 col-form-label">Quantity</label>
                                <div class="col-sm-8">
                                <input asp-for="@productdt.First().Quantity" type="text" class="form-control" />
                                </div>
                                </div> *@
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">des</label>
                                        <div class="col-sm-8">
                                            <input asp-for="@productdt.First().Description" type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">ImportPrice</label>
                                        <div class="col-sm-8">
                                            <input asp-for="@productdt.First().ImportPrice" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Price</label>
                                        <div class="col-sm-8">
                                            <input asp-for="@productdt.First().Price" type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Status</label>
                                        <div class="col-sm-8">
                                            <select asp-for="@Model.First().Status" class="form-select" aria-label="Default select example">
                                                <option selected>Open this select menu</option>
                                                <option value="0">Còn hàng</option>
                                                <option value="1">Hết hàng</option>
                                                <option value="2">Ngừng bán</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Ảnh</label>
                                        <div class="col-sm-8">
                                            <input name="imageFile" type="file" accept="image/*" class="form-control" multiple="multiple" />
                                        </div>
                                    </div>

                                    <button class="btn btn-warning">Lưu</button>
                                </form>
                            }
                        </div>

                        @* Create *@
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <form asp-area="Admin" asp-controller="ProductDetail" asp-action="Create" enctype="multipart/form-data">
                                <div class="mb-3 row">
                                    <label class="col-sm-4 col-form-label">Tên sản phẩm</label>
                                    <div class="col-sm-8">
                                        <select name="ProductID" class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            @if (category != null)
                                            {


                                                @foreach (var item in category)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-4 col-form-label">Tên tip</label>
                                    <div class="col-sm-8">
                                        <select name="TipId" class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            @if (tip != null)
                                            {

                                                @foreach (var item in tip)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            }

                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-4 col-form-label">Tên shaft</label>
                                    <div class="col-sm-8">
                                        <select name="ShaftId" class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            @if (shaft != null)
                                            {

                                                @foreach (var item in shaft)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            }

                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-4 col-form-label">Tên Weight</label>
                                    <div class="col-sm-8">
                                        <select name="WeightId" class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            @if (weight != null)
                                            {

                                                @foreach (var item in weight)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            }

                                        </select>
                                    </div>
                                </div>


                                @*      <div class="mb-3 row">
                                <label class="col-sm-4 col-form-label">Quantity</label>
                                <div class="col-sm-8">
                                <input name="Quantity" type="text" class="form-control" value="" />
                                </div>
                                </div>  *@
                                <div class="mb-3 row">
                                    <label class="col-sm-4 col-form-label">descrip</label>
                                    <div class="col-sm-8">
                                        <input name="Description" type="text" class="form-control" value="" />
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-4 col-form-label">ImportPrice</label>
                                    <div class="col-sm-8">
                                        <input name="ImportPrice" type="text" class="form-control" value="" />
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-4 col-form-label">Price</label>
                                    <div class="col-sm-8">
                                        <input name="Price" type="text" class="form-control" value="" />
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-sm-4 col-form-label">Status</label>
                                    <div class="col-sm-8">
                                        <select name="Status" class="form-select" aria-label="Default select example">
                                            <option selected>Open this select menu</option>
                                            <option value="0">Còn hàng</option>
                                            <option value="1">Hết hàng</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-4 col-form-label">ảnh</label>
                                    <div class="col-sm-8">
                                        <input name="imageFile" type="file" accept="image/*" class="form-control" multiple="multiple" />
                                    </div>
                                </div>

                                <button class="btn btn-success">Thêm</button>
                            </form><!-- End Multi Columns Form -->
                        </div>

                        @* Detail *@
                        <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            @if (productdt != null)
                            {
                                <div class="mb-3">
                                    <label class="form-label">Tên</label>
                                    <div>
                                        <p class="form-control">@productdt.First().ProductName</p>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-3 col-form-label">Tip</label>
                                    <div class="col-sm-9">
                                        <p class="form-control">@productdt.First().TipName</p>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-3 col-form-label">Shaft</label>
                                    <div class="col-sm-9">
                                        <p class="form-control">@productdt.First().ShaftName</p>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-sm-4 col-form-label">Weight</label>
                                    <div class="col-sm-8">
                                        <p class="form-control">@productdt.First().WeightName</p>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">ImportPrice</label>
                                    <div>
                                        <p class="form-control">@productdt.First().ImportPrice</p>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Price</label>
                                    <div>
                                        <p class="form-control">@productdt.First().Price</p>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Trạng thái :</label>
                                    <div>
                                        @if (productdt.First().Status == 0)
                                        {
                                            <p>Còn hàng</p>
                                        }
                                        else if (productdt.First().Status == 1)
                                        {
                                            <p>Hết hàng</p>
                                        }
                                        else
                                        {
                                            <p>Ngừng bán</p>
                                        }
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Hình ảnh</label>
                                    <div>
                                        @foreach (var item2 in productdt.First().Image)
                                        {
                                            <img src="~/images/products/@item2" width="20" />
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        @*  <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        @if (productdt != null)
                        {
                        <div class="row">
                        <label class="col-sm-4 col-form-label">
                        <p>Sản phẩm</p>
                        <p>Tên tip</p>
                        <p>Tên shaft</p>
                        <p>Tên weight</p>
                        <p>Quantity</p>
                        <p>ImportPrice</p>
                        <p>Price</p>
                        <p>Trạng thái</p>
                        <span>Ảnh</span>
                        </label>
                        <label class="col-sm-8 col-form-label">
                        @foreach (var item in productdt)
                        {
                        <p>@item.ProductName</p>
                        <p>@item.TipName</p>
                        <p>@item.ShaftName</p>
                        <p>@item.WeightName</p>
                        <p>@item.Quantity</p>
                        <p>@item.ImportPrice</p>
                        <p>@item.Price</p>
                        @if (item.Status == 0)
                        {
                        <p>Còn hàng</p>
                        }
                        else if (item.Status == 1)
                        {
                        <p>Hết hàng</p>
                        }
                        else
                        {
                        <p>Ngừng bán</p>
                        }
                        <span>

                        </span>
                        }
                        </label>
                        </div>
                        }
                        </div> *@
                    </div><!-- End Default Tabs -->


                </div>

            </div>
        </div><!-- End Recent Activity -->


    </div><!-- End Right side columns -->

</section>
@* @* <script>
    document.getElementById('uploadButton').addEventListener('click', function () {
        document.getElementById('imageFileInput').click();
    });

    document.getElementById('imageFileInput').addEventListener('change', function () {
        var fileInput = document.getElementById('imageFileInput');
        var selectedFile = fileInput.files[0];

        if (selectedFile) {
            var formData = new FormData();
            formData.append('imageFile', selectedFile);

            // Sử dụng Fetch API để gửi ảnh lên máy chủ bằng phương thức POST
            fetch('/Admin/ProductImage/Create', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Upload successful!');
                        fileInput.value = null; // Đặt lại giá trị của input file để cho phép người dùng chọn lại cùng một tệp tin (nếu cần).

                        // Làm mới trang sau khi tải lên thành công
                        location.reload();
                    } else {
                        console.error('Upload failed!');
                    }
                })
                .catch(error => {
                    console.error('Upload failed: ' + error);
                });
        }
    });
</script> *@