@model IEnumerable< Datn_Shared.ViewModels.ProductViewModels.ProductView>

@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/default.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/productbutton.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/formimage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/imageoverlay.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/banner.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/banner2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/text.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/article.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/categoryhome.css" asp-append-version="true" />

}
<div class="container" style="width : 100%;text-align : center;margin-bottom : 70px">
    <div id="carouselExampleIndicators" class="carousel slide;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" style="text-align : center">
            <div class="carousel-item active">
                <img src="images/slide1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/slide2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/slide3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<section class="hero-section">
    <div class="card-grid">
        <a class="card" href="#">
            <div class="card__background" style="background-image: url(https://billiardshoanggia.com/wp-content/uploads/2023/07/thuong-hieu-gay-bida-jacoby.jpeg)"></div>
            <div class="card__content">
                <p class="card__category">Category</p>
                <h3 class="card__heading">Jacoby Cues</h3>
            </div>
        </a>
        <a class="card" href="#">
            <div class="card__background" style="background-image: url(https://billiardshoanggia.com/wp-content/uploads/2023/07/thuong-hieu-gay-bida-noi-tieng-mezz.png)"></div>
            <div class="card__content">
                <p class="card__category">Category</p>
                <h3 class="card__heading">Mezz Cues</h3>
            </div>
        </a>
        <a class="card" href="#">
            <div class="card__background" style="background-image: url(https://billiardshoanggia.com/wp-content/uploads/2023/07/thuong-hieu-gay-bida-noi-tieng-Schmelke.jpeg)"></div>
            <div class="card__content">
                <p class="card__category">Category</p>
                <h3 class="card__heading">Schmelke Cues</h3>
            </div>
            </li>
            <a class="card" href="#">
                <div class="card__background" style="background-image: url(https://billiardshoanggia.com/wp-content/uploads/2023/07/thuong-hieu-gay-bida-noi-tieng-predator.jpeg)"></div>
                <div class="card__content">
                    <p class="card__category">Category</p>
                    <h3 class="card__heading">Predator Cues</h3>
                </div>
            </a>
            <div>

</section>
<div class="row">
    <div class="section-fluid-main">
        <div class="section-row">
            <div class="section-col">
                <div class="section">
                    <div class="section-in">
                        <img src="https://down-vn.img.susercontent.com/file/sg-11134201-7rbm6-lmcrik0wqvkbd1" alt="">
                    </div>
                </div>
            </div>
            <div class="hover-text">
                <h2>Gậy Đánh</h2>
            </div>
            <div class="section-col">
                <div class="section">
                    <div class="section-in">
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lkaftnchz1k84f" alt="">
                    </div>
                </div>
            </div>
            <div class="hover-text">
                <h2>Gậy Phá</h2>
            </div>
            <div class="section-col">
                <div class="section">
                    <div class="section-in">
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lluerlgt92hrf8" alt="">
                    </div>
                </div>
            </div>
            <div class="hover-text">
                <h2>Tip</h2>
            </div>
            <div class="section-col">
                <div class="section">
                    <div class="section-in">
                        <img src="https://down-vn.img.susercontent.com/file/sg-11134201-7r98o-lkjob2kg35zkc1" alt="">
                    </div>
                </div>
            </div>
            <div class="hover-text">
                <h2>Shaft</h2>
            </div>
            <div class="section-col">
                <div class="section">
                    <div class="section-in">
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-23030-48w9izjtswov13" alt="">
                    </div>
                </div>
            </div>
            <div class="hover-text">
                <h2>Liên Hệ</h2>
            </div>
            <div class="section-col">
                <div class="section">
                    <div class="section-in">
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lnodrlj0gjjh11" alt="">
                    </div>
                </div>
            </div>
            <div class="hover-text">
                <h2>Tin Tức</h2>
            </div>
        </div>

        <a href="https://front.codes/" class="logo" target="_blank">
            <img src="https://assets.codepen.io/1462889/fcy.png" alt="">
        </a>
    </div>

</div>
<div class="wrapper mb-5">
    <div class="bg"> Gậy Đánh </div>
    <div class="fg"> Gậy Đánh </div>
</div>
<div class="row">
    @foreach (var item in @Model)
    {
        @if (@item.ProductDetailId != Guid.Empty)
        {
            <div class="col-md-4">
                <a asp-area="" asp-controller="ProductDetail" asp-action="Index" asp-route-id="@item.ProductDetailId">
                    <div class="container page-wrapper">
                        <div class="page-inner">
                            <div class="row">
                                <div class="el-wrapper">
                                    <div class="box-up">
                                        <img class="img" src="~/images//1.png" alt="">
                                        <div class="img-info">
                                            <div class="info-inner">
                                                <span class="p-name">@item.Name</span>
                                                <span class="p-company">@item.Producer</span>
                                            </div>
                                            <div class="a-size">Số lượng : <span class="size">@item.AvailableQuantity</span></div>
                                        </div>
                                    </div>

                                    <div class="box-down">
                                        <div class="h-bg">
                                            <div class="h-bg-inner"></div>
                                        </div>

                                        <a asp-action="CreateOne" asp-controller="Cart" asp-route-id="@item.ProductDetailId" class="cart">
                                            <span class="price">$@item.Price</span>
                                            <span class="add-to-cart">
                                                <span class="txt">Thêm vào giỏ hàng</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</div>
<div class="wrapper my-5">
    <div class="bg"> Gậy Phá </div>
    <div class="fg"> Gậy Phá </div>
</div>
<div class="row">
    @foreach (var item in @Model)
    {
        @if (@item.ProductDetailId != Guid.Empty)
        {
            <div class="col-md-4">
                <a asp-area="" asp-controller="ProductDetail" asp-action="Index" asp-route-id="@item.ProductDetailId">
                    <div class="container page-wrapper">
                        <div class="page-inner">
                            <div class="row">
                                <div class="el-wrapper">
                                    <div class="box-up">
                                        <img class="img" src="~/images//1.png" alt="">
                                        <div class="img-info">
                                            <div class="info-inner">
                                                <span class="p-name">@item.Name</span>
                                                <span class="p-company">@item.Producer</span>
                                            </div>
                                            <div class="a-size">Số lượng : <span class="size">@item.AvailableQuantity</span></div>
                                        </div>
                                    </div>

                                    <div class="box-down">
                                        <div class="h-bg">
                                            <div class="h-bg-inner"></div>
                                        </div>

                                        <a asp-action="CreateOne" asp-controller="Cart" asp-route-id="@item.ProductDetailId" class="cart">
                                            <span class="price">$@item.Price</span>
                                            <span class="add-to-cart">
                                                <span class="txt">Thêm vào giỏ hàng</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</div>
<div class="wrapper my-5">
    <div class="bg"> Tin Tức </div>
    <div class="fg"> Tin Tức </div>
</div>
<section class="articles mb-5">
    <article>
        <div class="article-wrapper">
            <figure>
                <img src="~/images/tintuchome1.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Tin tức</h2>
                <h6>Chiêm Hồng Thái dừng bước ở tứ kết World Cup Veghel 2023</h6>
                <a href="#" class="read-more">
                    Xem thêm <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>
    <article>

        <div class="article-wrapper">
            <figure>
                <img src="~/images/tintuchome2.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Tin tức</h2>
                <h6>Cơ thủ Nguyễn Anh Tuấn ‘Tkon’ quyết sang Mỹ dự giải dù bị sốt xuất huyết</h6>
                <a href="#" class="read-more">
                    Xem thêm <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>
    <article>

        <div class="article-wrapper">
            <figure>
                <img src="~/images/tintuchome3.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Tin tức</h2>
                <h6>Anh Chiến, Minh Cẩm giữ phong độ cao, tiến sâu ở chặng 5 PBA Tour</h6>
                <a href="#" class="read-more">
                    Xem thêm <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>
</section>

@if (!User.Identity.IsAuthenticated || User.IsInRole("Quản lý") || User.IsInRole("Nhân viên"))
{
    <div class="bg-imggggg">
        <form asp-controller="Login" asp-action="Login" class="containerrrrr">
            <h1>Đăng nhập</h1>

            <label for="usn"><b>Tài Khoản</b></label>
            <input type="text" name="Username" placeholder="Nhập Tài Khoản" required>

            <label for="psw"><b>Mật Khẩu</b></label>
            <input type="password" name="Password" placeholder="Nhập Mật Khẩu" required>

            <button type="submit" class="btnnnnn">Đăng Nhập</button>
        </form>
    </div>
    <p style="font-weight : bold;text-align : center;">Nếu chưa có tài khoản,hãy đăng ký để nhận thêm thông tin về chúng tôi </p>

    <a asp-area="" asp-controller="Register" asp-action="Register"><p style="text-align:center;margin-bottom : 100px"> <button type="submit" class="btnnnnn" style="width : 200px">Đăng Ký</button></p></a>
}
