@model IEnumerable<Datn_Shared.Models.Employee>
@using Datn_Shared.Models;

@{
    ViewData["Title"] = "Index";
    var employee = (ViewData["Employee"] as List<Employee>);
}

<div class="pagetitle">
    <h1>Quản lý Nhân viên</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Tổng quan</li>
            <li class="breadcrumb-item active">Nhân viên</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<section class="section dashboard">
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">
                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Staff" asp-action="Filter" asp-route-date="today">Hôm nay</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Staff" asp-action="Filter" asp-route-date="thisMonth">Tháng này</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Staff" asp-action="Filter" asp-route-date="thisYear">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">
                                Nhân viên
                                <span>
                                    | @if (ViewBag.DateEmployee == "today")
                                    {
                                        <span>Hôm nay</span>
                                    }
                                    else if (ViewBag.DateEmployee == "thisMonth")
                                    {
                                        <span>Tháng này</span>
                                    }
                                    else if (ViewBag.DateEmployee == "thisYear")
                                    {
                                        <span>Năm nay</span>
                                    }
                                    else
                                    {
                                        <span>Toàn bộ</span>
                                    }
                                </span>
                            </h5>

                            <table class="table table-hover datatable">
                                <thead>
                                    <tr>
                                        <th>Họ tên</th>
                                        <th>Giới tính</th>
                                        <th>Số điện thoại</th>
                                        <th>Ảnh</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @Model)
                                    {
                                        <tr>
                                            <td>@item.FullName</td>
                                            <td>
                                                @if (item.Gender == 0)
                                                {
                                                    <span>Nam</span>
                                                }
                                                else if (item.Gender == 1)
                                                {
                                                    <span>Nữ</span>
                                                }
                                                else
                                                {
                                                    <span>Khác</span>
                                                }
                                            </td>
                                            <td>@item.PhoneNumber</td>
                                            <td>
                                                <img src="~/images/employees/@item.Image" width="100" style="object-fit: cover;" />
                                            </td>
                                            <td>
                                                @if (item.Status == 0)
                                                {
                                                    <span>Đang làm</span>
                                                }
                                                else if (item.Status == 2)
                                                {
                                                    <span>Đã nghỉ</span>
                                                }
                                            </td>
                                            <td>
                                                <a asp-area="Admin" asp-controller="Staff" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-success" title="Chi tiết">
                                                    <i class="bx bxs-detail"></i>
                                                </a>
                                                <a asp-area="Admin" asp-controller="Staff" asp-action="ChangeRole" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Bạn chắc chắn có muốn nâng người này lên làm Quản Lý??')" title="Nâng lên làm quản lý">
                                                    <i class="bx bxs-chevrons-up"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- End Recent Sales -->
            </div>

        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-4">

            <!-- Recent Activity -->
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Quản lý <span>| xx</span></h5>
                    <!-- Default Tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
                                    aria-selected="false">
                                Chi tiết
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link " id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                    aria-selected="true">
                                Cập nhật
                            </button>
                        </li>
                    </ul>

                    @* Update *@
                    <div class="tab-content pt-2" id="myTabContent">
                        <div class="tab-pane fade" id="home" role="tabpanel"
                             aria-labelledby="home-tab">
                            @if (employee != null)
                            {
                                <form asp-area="Admin" asp-controller="Staff" asp-action="Update" asp-route-id="@employee.First().Id">
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Họ tên</label>
                                        <div class="col-sm-8">
                                            <input asp-for="@employee.First().FullName" type="text" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Giới tính</label>
                                        <div class="col-sm-8">
                                            <select asp-for="@employee.First().Gender" class="form-control">
                                                @if (@employee.First().Gender == 0)
                                                {
                                                    <option value="0" selected>Nam</option>
                                                    <option value="1">Nữ</option>
                                                    <option value="2">Khác</option>
                                                }
                                                else if (@employee.First().Gender == 1)
                                                {
                                                    <option value="0">Nam</option>
                                                    <option value="1" selected>Nữ</option>
                                                    <option value="2">Khác</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Nam</option>
                                                    <option value="1">Nữ</option>
                                                    <option value="2" selected>Khác</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Số điện thoại</label>
                                        <div class="col-sm-8">
                                            <input asp-for="@employee.First().PhoneNumber" type="number" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Email</label>
                                        <div class="col-sm-8">
                                            <input asp-for="@employee.First().Email" type="email" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Ngày sinh</label>
                                        <div class="col-sm-8">
                                            <input asp-for="@employee.First().DateOfBirth" type="date" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Địa chỉ</label>
                                        <div class="col-sm-8">
                                            <input asp-for="@employee.First().Address" type="text" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Twitter</label>
                                        <div class="col-sm-8">
                                            <input asp-for="@employee.First().Twitter" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Facebook</label>
                                        <div class="col-sm-8">
                                            <input asp-for="@employee.First().Facebook" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Instagram</label>
                                        <div class="col-sm-8">
                                            <input asp-for="@employee.First().Instagram" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Linkedin</label>
                                        <div class="col-sm-8">
                                            <input asp-for="@employee.First().Linkedin" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-4 col-form-label">Trạng thái</label>
                                        <div class="col-sm-8">
                                            <select asp-for="@employee.First().Status" class="form-control">
                                                @if (@employee.First().Status == 0)
                                                {
                                                    <option value="0" selected>Đang làm</option>
                                                    <option value="2">Đã nghỉ</option>
                                                }
                                                else if (@employee.First().Status == 2)
                                                {
                                                    <option value="0">Đang làm</option>
                                                    <option value="2" selected>Đã nghỉ</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Đang làm</option>
                                                    <option value="2">Đã nghỉ</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <button class="btn btn-warning" onclick="return confirm('Bạn chắc chắn có muốn sửa??')">Lưu</button>
                                </form>
                            }
                        </div>

                        @* Detail *@
                        <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            @if (employee != null)
                            {
                                <div class="mb-3">
                                    <label class="form-label">Họ tên</label>
                                    <div>
                                        <p class="form-control">@employee.First().FullName</p>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-3 col-form-label">Giới tính</label>
                                    <div class="col-sm-9">
                                        @if (employee.First().Gender == 0)
                                        {
                                            <p class="form-control">Nam</p>
                                        }
                                        else if (employee.First().Gender == 1)
                                        {
                                            <p class="form-control">Nữ</p>
                                        }
                                        else
                                        {
                                            <p class="form-control">Khác</p>
                                        }
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-5 col-form-label">Số điện thoại</label>
                                    <div class="col-sm-7">
                                        <p class="form-control">@employee.First().PhoneNumber</p>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <p class="form-control">@employee.First().Email</p>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-4 col-form-label">Ngày sinh</label>
                                    <div class="col-sm-8">
                                        <p class="form-control">@employee.First().DateOfBirth.Day/@employee.First().DateOfBirth.Month/@employee.First().DateOfBirth.Year</p>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-4 col-form-label">Ngày tạo tài khoản</label>
                                    <div class="col-sm-8">
                                        <p class="form-control">@employee.First().CreateDate.Day/@employee.First().CreateDate.Month/@employee.First().CreateDate.Year</p>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Địa chỉ</label>
                                    <div>
                                        <p class="form-control">@employee.First().Address</p>
                                    </div>
                                </div>
                                @if (employee.First().Twitter != null)
                                {
                                    <div class="mb-3">
                                        <label class="form-label">Twitter</label>
                                        <div>
                                            <p class="form-control">@employee.First().Twitter</p>
                                        </div>
                                    </div>
                                }
                                @if (employee.First().Facebook != null)
                                {
                                    <div class="mb-3">
                                        <label class="form-label">Facebook</label>
                                        <div>
                                            <p class="form-control">@employee.First().Facebook</p>
                                        </div>
                                    </div>
                                }
                                @if (employee.First().Instagram != null)
                                {
                                    <div class="mb-3">
                                        <label class="form-label">Instagram</label>
                                        <div>
                                            <p class="form-control">@employee.First().Instagram</p>
                                        </div>
                                    </div>
                                }
                                @if (employee.First().Linkedin != null)
                                {
                                    <div class="mb-3">
                                        <label class="form-label">Linkedin</label>
                                        <div>
                                            <p class="form-control">@employee.First().Linkedin</p>
                                        </div>
                                    </div>
                                }
                                <div class="mb-3 row">
                                    <label class="col-sm-4 col-form-label">Trạng thái</label>
                                    <div class="col-sm-8">
                                        @if (employee.First().Status == 0)
                                        {
                                            <p class="form-control">Đang làm</p>
                                        }
                                        else if (employee.First().Status == 2)
                                        {
                                            <p class="form-control">Đã nghỉ</p>
                                        }
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-4 col-form-label">Hình ảnh</label>
                                    <div class="col-sm-8">
                                        <img src="~/images/employees/@employee.First().Image" width="100" style="object-fit: cover;" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div><!-- End Default Tabs -->

                </div>

            </div>
        </div><!-- End Recent Activity -->

    </div><!-- End Right side columns -->

</section>