@model X.PagedList.PagedList<Datn_Shared.ViewModels.ProductViewModels.ProductView>
@using AspNetCore.PaginatedList;
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Product";

    <link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dropdown.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/text.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/paging.css" asp-append-version="true" />
    
}
<br>
<div style="border: 2px solid black;border-radius: 80px;padding: 15px;box-shadow: 5 5 10px rgba(5, 5, 5, 5);margin-top : 50px">
    <div class="row" style="margin-bottom : 30px;margin-top : 30px;margin-right: 50px;margin-left: 60px">
        <div class="col-md-6">

            <h3 style="font-weight : bold">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                    <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5z" />
                    <path d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5" />
                </svg>Bộ Lọc
            </h3>
        </div>
        <div class="col-md-6" style="text-align : right;">
            <select id="productSelect">

                <option selected value="0">Sắp Xếp</option>
                <option value="1">Giá : Tăng Dần</option>
                <option value="2">Giá : Giảm Dần</option>
                <option value="3">Tên A-Z</option>
                <option value="4">Tên Z-A</option>
                <option value="5">Cũ Nhất</option>
                <option value="6">Mới Nhất</option>
                <option value="7">Bán Chạy Nhất</option>

            </select>
        </div>
    </div>
    <div class="row" style="margin-right : 50px;margin-bottom : 50px">

        <div class="col-md-4" style="text-align : right">

            <select name="BrandSelect" id="BrandSelect" onchange="redirectOnChange22('@Url.Action("GetProductByBrand", "Product")')">
                <option selected>Chọn loại thương hiệu</option>
                @foreach (var item in ViewBag.Brand)
                {
                    <option value="@item.Name">@item.Name</option>
                }
            </select>
        </div>
        <div class="col-md-4" style="text-align : right">

            <select id="productSelect3">

                <option selected value="0">Giá</option>
                <option value="1">Tăng Dần</option>
                <option value="2">Giảm Dần</option>
            </select>
        </div>
        <div class="col-md-4" style="text-align : right">
            
            <select name="categorySelect" id="categorySelect" onchange="redirectOnChange('@Url.Action("GetByCategory", "Product")')">
                <option selected>Chọn loại sản phẩm</option>
                @foreach (var item in ViewBag.Category)
                {
                    <option value="@item.Name">@item.Name</option>
                }
            </select>
        </div>
    </div>
</div>
<div class="wrapper my-5">
    <div class="bg"> Sản Phẩm </div>
    <div class="fg"> Sản Phẩm </div>
</div>
<div class="row my-3">
    @foreach (var item in @Model)
    {
        @if (@item.ProductDetailId != Guid.Empty)
        {
            <div class="col-md-4">
                <a asp-area="" asp-controller="ProductDetail" asp-action="Index" asp-route-id="@item.ProductDetailId">
                    <div class="container page-wrapper">
                        <div class="page-inner">
                            <div class="row">
                                <div class="el-wrapper">
                                    <div class="box-up">
                                        <img class="img" src="~/images/products/@item.Image" alt="">
                                        <div class="img-info">
                                            <div class="info-inner">
                                                <span class="p-name">@item.Name</span>
                                            </div>
                                            <div class="a-size">Số lượng : <span class="size">@item.AvailableQuantity</span></div>
                                        </div>
                                    </div>

                                    <div class="box-down">
                                        <div class="h-bg">
                                            <div class="h-bg-inner"></div>
                                        </div>

                                        <a asp-action="CreateOne" asp-controller="Cart" asp-route-id="@item.ProductDetailId" class="cart">
                                            <span class="price">@item.Price VND</span>
                                            <span class="add-to-cart">
                                                <span class="txt">Thêm vào giỏ hàng</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</div>
<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
</div>
<script>
    document.getElementById("productSelect").addEventListener("change", function () {
        var selectedValue = this.value;
        var controller = "Product";
        var url;
        if(selectedValue=="1")
        {
            url = "https://localhost:7162/" + controller + "/" + "GetByPriceMin" + "?selectedValue=" + selectedValue;
        }
        if(selectedValue=="2")
        {
            url = "https://localhost:7162/" + controller + "/" + "GetByPriceMax" + "?selectedValue=" + selectedValue;
        }
        if(selectedValue=="3")
        {
            url = "https://localhost:7162/" + controller + "/" + "GetByNameAZ" + "?selectedValue=" + selectedValue;
        }
        if(selectedValue=="4")
        {
            url = "https://localhost:7162/" + controller + "/" + "GetByNameZA" + "?selectedValue=" + selectedValue;
        }
        if(selectedValue=="5")
        {
            url = "https://localhost:7162/" + controller + "/" + "GetByCreateDateOld" + "?selectedValue=" + selectedValue;
        }
        if(selectedValue=="6")
        {
            url = "https://localhost:7162/" + controller + "/" + "GetByCreateDateNew" + "?selectedValue=" + selectedValue;
        }

        window.location.href = url;
    });
    document.getElementById("productSelect2").addEventListener("change", function () {
        var selectedValue = this.value;
        var controller = "Product";
        var url;
        if(selectedValue=="1")
        {
            url = "https://localhost:7162/" + controller + "/" + "GetByPrice2" + "?selectedValue=" + selectedValue;
        }
        window.location.href = url;
    });
    document.getElementById("productSelect3").addEventListener("change", function () {
        var selectedValue = this.value;
        var controller = "Product";
        var url;
        if(selectedValue=="1")
        {
            url = "https://localhost:7162/" + controller + "/" + "GetByPriceMin" + "?selectedValue=" + selectedValue;
        }
        if(selectedValue=="2")
        {
            url = "https://localhost:7162/" + controller + "/" + "GetByPriceMax" + "?selectedValue=" + selectedValue;
        }
    });

    function redirectOnChange(baseUrl) {
        var selectedOption = document.getElementById("categorySelect");
        var selectedName = selectedOption.value;
        // Build the URL with the selected option
        var url = baseUrl + "?name=" + encodeURIComponent(selectedName);

        // Chuyển hướng đến trang mới
        window.location.href = url;
    }  
    function redirectOnChange22(baseUrl) {
        var selectedOption = document.getElementById("BrandSelect");
        var selectedName = selectedOption.value;
        // Build the URL with the selected option
        var url = baseUrl + "?name=" + encodeURIComponent(selectedName);

        // Chuyển hướng đến trang mới
        window.location.href = url;
    }
</script>