@{
    string date = "[";

    for (int i = 0; i < ViewBag.DateTimes.Count; i++)
    {
        date += $"'{ViewBag.DateTimes[i]}'";

        if (i < ViewBag.DateTimes.Count - 1)
        {
            date += ", ";
        }
    }

    date += "]";
}

<div class="pagetitle">
    <h1>Bảng điều khiển</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Bảng điều khiển</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterSales" asp-route-date="today">Hôm nay</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterSales" asp-route-date="thisMonth">Tháng này</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterSales" asp-route-date="thisYear">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">
                                Doanh số
                                <span>
                                    | @if (ViewBag.DateSales == "today")
                                    {
                                        <span>Hôm nay</span>
                                    }
                                    else if (ViewBag.DateSales == "thisMonth")
                                    {
                                        <span>Tháng này</span>
                                    }
                                    else if (ViewBag.DateSales == "thisYear")
                                    {
                                        <span>Năm nay</span>
                                    }
                                    else
                                    {
                                        <span>Toàn bộ</span>
                                    }
                                </span>
                            </h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.Sales</h6>
                                    <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterRevenue" asp-route-date="today">Hôm nay</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterRevenue" asp-route-date="thisMonth">Tháng này</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterRevenue" asp-route-date="thisYear">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">
                                Doanh thu
                                <span>
                                    | @if (ViewBag.DateRevenue == "today")
                                    {
                                        <span>Hôm nay</span>
                                    }
                                    else if (ViewBag.DateRevenue == "thisMonth")
                                    {
                                        <span>Tháng này</span>
                                    }
                                    else if (ViewBag.DateRevenue == "thisYear")
                                    {
                                        <span>Năm nay</span>
                                    }
                                    else
                                    {
                                        <span>Toàn bộ</span>
                                    }
                                </span>
                            </h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.Revenue</h6>
                                    <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->
                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterCustomer" asp-route-date="today">Hôm nay</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterCustomer" asp-route-date="thisMonth">Tháng này</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterCustomer" asp-route-date="thisYear">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">
                                Khách hàng
                                <span>
                                    | @if (ViewBag.DateTotalCustomer == "today")
                                    {
                                        <span>Hôm nay</span>
                                    }
                                    else if (ViewBag.DateTotalCustomer == "thisMonth")
                                    {
                                        <span>Tháng này</span>
                                    }
                                    else if (ViewBag.DateTotalCustomer == "thisYear")
                                    {
                                        <span>Năm nay</span>
                                    }
                                    else
                                    {
                                        <span>Toàn bộ</span>
                                    }
                                </span>
                            </h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.TotalCustomer</h6>
                                    <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->
                <!-- Reports -->
                <div class="col-12">
                    <div class="card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                                <li><a class="dropdown-item" href="#">Tháng này</a></li>
                                <li><a class="dropdown-item" href="#">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Báo cáo <span>/ Hôm nay</span></h5>

                            <!-- Line Chart -->
                            <div id="reportsChart"></div>

                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    new ApexCharts(document.querySelector("#reportsChart"), {
                                        series: [{
                                            name: 'Doanh số',
                                            data: [@Html.Raw(ViewBag.ReportSales)],
                                        }, {
                                            name: 'Doanh thu',
                                            data: [@Html.Raw(ViewBag.ReportRevenue)]
                                        }, {
                                            name: 'Khách hàng',
                                            data: [@Html.Raw(ViewBag.ReportTotalCustomer)]
                                        }],
                                        chart: {
                                            height: 350,
                                            type: 'area',
                                            toolbar: {
                                                show: false
                                            },
                                        },
                                        markers: {
                                            size: 4
                                        },
                                        colors: ['#4154f1', '#2eca6a', '#ff771d'],
                                        fill: {
                                            type: "gradient",
                                            gradient: {
                                                shadeIntensity: 1,
                                                opacityFrom: 0.3,
                                                opacityTo: 0.4,
                                                stops: [0, 90, 100]
                                            }
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },
                                        stroke: {
                                            curve: 'smooth',
                                            width: 2
                                        },
                                        xaxis: {
                                            type: 'datetime',
                                            categories: @Html.Raw(date)
                                        },
                                        tooltip: {
                                            x: {
                                                format: 'dd/MM/yy HH:mm'
                                            },
                                        }
                                    }).render();
                                });
                            </script>
                            <!-- End Line Chart -->

                        </div>

                    </div>
                </div><!-- End Reports -->
                
                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterRecentSale" asp-route-date="today">Hôm nay</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterRecentSale" asp-route-date="thisMonth">Tháng này</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterRecentSale" asp-route-date="thisYear">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">
                                Doanh thu gần đây <span>
                                    | @if (ViewBag.DateRecentSale == "today")
                                    {
                                        <span>Hôm nay</span>
                                    }
                                    else if (ViewBag.DateRecentSale == "thisMonth")
                                    {
                                        <span>Tháng này</span>
                                    }
                                    else if (ViewBag.DateRecentSale == "thisYear")
                                    {
                                        <span>Năm nay</span>
                                    }
                                    else
                                    {
                                        <span>Toàn bộ</span>
                                    }
                                </span>
                            </h5>

                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Người mua</th>
                                        <th scope="col">Sẳn phẩm</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.RecentSale)
                                    {
                                        <tr>
                                            <th scope="row"><a href="#">#@item.STT</a></th>
                                            <td>@item.CustomerName</td>
                                            <td><a href="#" class="text-primary">@item.ProductName</a></td>
                                            <td>@item.Price VND</td>
                                            @if (item.Status == "Đã xác nhận")
                                            {
                                                <td><span class="badge bg-danger">@item.Status</span></td>
                                            }
                                            else if (item.Status == "Đang lấy hàng")
                                            {
                                                <td><span class="badge bg-warning">@item.Status</span></td>
                                            }
                                            else if (item.Status == "Đang giao hàng")
                                            {
                                                <td><span class="badge bg-success">@item.Status</span></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Recent Sales -->
                <!-- Top Selling -->
                <div class="col-12">
                    <div class="card top-selling overflow-auto">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterTopSelling" asp-route-date="today">Hôm nay</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterTopSelling" asp-route-date="thisMonth">Tháng này</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterTopSelling" asp-route-date="thisYear">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body pb-0">
                            <h5 class="card-title">
                                Bán chạy nhất
                                <span>
                                    | @if (ViewBag.DateTopSelling == "today")
                                    {
                                        <span>Hôm nay</span>
                                    }
                                    else if (ViewBag.DateTopSelling == "thisMonth")
                                    {
                                        <span>Tháng này</span>
                                    }
                                    else if (ViewBag.DateTopSelling == "thisYear")
                                    {
                                        <span>Năm nay</span>
                                    }
                                    else
                                    {
                                        <span>Toàn bộ</span>
                                    }
                                </span>
                            </h5>

                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">Sản phẩm</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Số lượng tồn</th>
                                        <th scope="col">Doanh thu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.TopSelling)
                                    {
                                        <tr>
                                            <th scope="row"><a href="#"><img src="images/products/@item.Image" alt=""></a></th>
                                            <td style="max-width: 200px;"><a href="#" class="text-primary fw-bold">@item.Name</a></td>
                                            <td>@item.Price VND</td>
                                            <td class="fw-bold">@item.Sold</td>
                                            <td>@item.Revenue VND</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Top Selling -->

            </div>
        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-4">

            <!-- News & Updates Traffic -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Lọc</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                        <li><a class="dropdown-item" href="#">Tháng này</a></li>
                        <li><a class="dropdown-item" href="#">Năm nay</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">Tin tức &amp; Cập nhật <span>| Hôm nay</span></h5>

                    <div class="news">
                        <div class="post-item clearfix">
                            <img src="/images/slidenews1.jpg" alt="">
                            <h4><a href="#" class="title-news">Nóng bảng xếp hạng bi-a thế giới: Hồng Thái “bay cao”, “thần đồng” Hàn Quốc lên số 1</a></h4>
                            <p class="content-news">Giải carom 3 băng Veghel World Cup 2023 kết thúc khuya ngày 28/10 mới đây chứng kiến màn lên ngôi rất thuyết phục của Dick Jaspers. Với phong độ ấn tượng, siêu sao người Hà Lan chỉ mất đúng 12 lượt cơ để đánh bại cơ thủ số 1 nước Đức Martin Horn với cách biệt 50-22 để giành chức vô địch.</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="https://cdn.tcdulichtphcm.vn/upload//4-2023/images/2023-10-21/Co-thu-so-1-the-gioi-tien-cu-dokhai1-1697865720-936-width740height493.jpg" alt="">
                            <h4><a href="#" class="title-news">Cơ thủ bi-a số 1 thế giới tiến cử "Khải tóc dài" thi đấu cho tuyển châu Âu</a></h4>
                            <p class="content-news">Hanoi Pool Open Championship 2023 đã kết thúc tại Hà Nội vào 15/10 nhưng dư âm về sự kiện này vẫn đang kéo dài. Giải đấu pool quốc tế lần đầu tiên tổ chức tại Thủ đô giúp khán giả Việt Nam tới gần hơn với những cơ thủ hàng đầu thế giới, hay huyền thoại lừng danh thế giới, các tay cơ chủ nhà cũng có dịp thi đấu, cọ xát với đối thủ lớn.</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="https://baohagiang.vn/file/4028eaa4679b32c401679c0c74382a7e/102023/nu-than-bi-a-trung-quoc-dua-tai-khoe-sac-o-giai-vo-dich-the-gioi-2023-panxiaoting1-1697779201-210-width740height449_20231021082648.jpg" alt="">
                            <h4><a href="#" class="title-news">"Nữ thần" bi-a Trung Quốc đua tài, khoe sắc ở giải vô địch thế giới 2023</a></h4>
                            <p class="content-news">Sau giải bi-a quốc tế diễn ra ở Hà Nội, lúc này làng bi-a pool đang hướng sự tập trung vào giải vô địch 10 bi nữ thế giới 2023 diễn ra tại Áo từ 18 tới 22/10.</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="https://icdn.24h.com.vn/upload/4-2023/images/2023-10-15/Reyes-danh-bai-reyeskhaitocdai1-1697386900-253-width740height596.jpg" alt="">
                            <h4><a href="#" class="title-news">Reyes đánh bại "Khải tóc dài", Jayson Shaw vô địch nghẹt thở giải bi-a ở Hà Nội</a></h4>
                            <p class="content-news">Hanoi Open Pool Championship 2023 tổ chức tại Hà Nội từ 10 tới 15/10 tại Hà Nội mang tới cho khán giả Việt Nam quá nhiều kỷ niệm đáng nhớ. Ở sự kiện bi-a quốc tế tầm cỡ lần đầu tiên diễn ra tại Việt Nam, quy tụ những cơ thủ hàng đầu thế giới, cơ cấu giải thưởng lớn và có cả sự xuất hiện của "Phù thủy" Efren Reyes (Philippines).</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="https://icdn.24h.com.vn/upload/4-2023/images/2023-10-14/reyes9-1697290999-949-width740height555.jpg" alt="">
                            <h4><a href="#" class="title-news">"Phù thủy bi-a" Reyes tri ân khán giả Việt bằng cơ 4 băng kinh điển</a></h4>
                            <p class="content-news">Hanoi Open Pool Championship 2023, giải bi-a quốc tế tầm cỡ đầu tiên được tổ chức tại Hà Nội từ 10 tới 15/10 dần bước vào những trận đấu cuối cùng. Không chỉ có những cơ thủ hàng đầu tới tranh tài, sự kiện còn "nóng" hơn khi huyền thoại 69 tuổi, Efren Reyes xuất hiện vào chiều 14/10.</p>
                        </div>

                    </div><!-- End sidebar recent posts-->

                </div>
            </div><!-- End News & Updates -->
            <!-- Budget Report -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Lọc</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                        <li><a class="dropdown-item" href="#">Tháng này</a></li>
                        <li><a class="dropdown-item" href="#">Năm nay</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">Báo cáo ngân sách <span>| Hôm nay</span></h5>

                    <div id="budgetChart" style="min-height: 400px;" class="echart"></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
                                legend: {
                                    data: ['Ngân sách phân bổ', 'Chi tiêu thực tế']
                                },
                                radar: {
                                    // shape: 'circle',
                                    indicator: [{
                                        name: 'Công nghệ thông tin',
                                        max: 6500
                                    },
                                    {
                                        name: 'Quản lý',
                                        max: 16000
                                    },
                                    {
                                        name: 'Doanh số',
                                        max: 30000
                                    },
                                    {
                                        name: 'Hỗ trợ khách hàng',
                                        max: 38000
                                    },
                                    {
                                        name: 'Phát triển',
                                        max: 52000
                                    },
                                    {
                                        name: 'Tiếp thị',
                                        max: 25000
                                    }
                                    ]
                                },
                                series: [{
                                    name: 'Budget vs spending',
                                    type: 'radar',
                                    data: [{
                                        value: [4200, 3000, 20000, 35000, 50000, 18000],
                                        name: 'Ngân sách phân bổ'
                                    },
                                    {
                                        value: [5000, 14000, 28000, 26000, 42000, 21000],
                                        name: 'Chi tiêu thực tế'
                                    }
                                    ]
                                }]
                            });
                        });
                    </script>

                </div>
            </div><!-- End Budget Report -->
            <!-- Website Traffic -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Lọc</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                        <li><a class="dropdown-item" href="#">Tháng này</a></li>
                        <li><a class="dropdown-item" href="#">Năm nay</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">Lưu lượng truy cập <span>| Hôm nay</span></h5>

                    <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            echarts.init(document.querySelector("#trafficChart")).setOption({
                                tooltip: {
                                    trigger: 'item'
                                },
                                legend: {
                                    top: '5%',
                                    left: 'center'
                                },
                                series: [{
                                    name: 'Truy cập từ',
                                    type: 'pie',
                                    radius: ['40%', '70%'],
                                    avoidLabelOverlap: false,
                                    label: {
                                        show: false,
                                        position: 'center'
                                    },
                                    emphasis: {
                                        label: {
                                            show: true,
                                            fontSize: '18',
                                            fontWeight: 'bold'
                                        }
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                    data: [{
                                        value: 1048,
                                        name: 'Máy tìm kiếm'
                                    },
                                    {
                                        value: 735,
                                        name: 'Trực tiếp'
                                    },
                                    {
                                        value: 580,
                                        name: 'Email'
                                    },
                                    {
                                        value: 484,
                                        name: 'Quảng cáo'
                                    },
                                    {
                                        value: 300,
                                        name: 'Quảng cáo video'
                                    }
                                    ]
                                }]
                            });
                        });
                    </script>

                </div>
            </div><!-- End Website Traffic -->

        </div><!-- End Right side columns -->

    </div>
</section>