@{
    string date = "[";

    for (int i = 0; i < ViewBag.DateTimes.Count; i++)
    {
        date += $"'{ViewBag.DateTimes[i]}'";

        if (i < ViewBag.DateTimes.Count - 1)
        {
            date += ", ";
        }
    }

    date += "]";
}

<div class="pagetitle">
    <h1>Bảng điều khiển</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Bảng điều khiển</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                <!-- Revenue Card -->
                <div class="col-xxl-12 col-md-12">
                    <div class="card info-card revenue-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterRevenue" asp-route-date="today">Hôm nay</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterRevenue" asp-route-date="thisMonth">Tháng này</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterRevenue" asp-route-date="thisYear">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">
                                Doanh thu
                                <span>
                                    | @if (ViewBag.DateRevenue == "today")
                                    {
                                        <span>Hôm nay</span>
                                    }
                                    else if (ViewBag.DateRevenue == "thisMonth")
                                    {
                                        <span>Tháng này</span>
                                    }
                                    else if (ViewBag.DateRevenue == "thisYear")
                                    {
                                        <span>Năm nay</span>
                                    }
                                    else
                                    {
                                        <span>Toàn bộ</span>
                                    }
                                </span>
                            </h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.Revenue</h6>
                                    @* <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span> *@

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->

                <!-- Sales Card -->
                <div class="col-xxl-6 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterSales" asp-route-date="today">Hôm nay</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterSales" asp-route-date="thisMonth">Tháng này</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterSales" asp-route-date="thisYear">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">
                                Doanh số
                                <span>
                                    | @if (ViewBag.DateSales == "today")
                                    {
                                        <span>Hôm nay</span>
                                    }
                                    else if (ViewBag.DateSales == "thisMonth")
                                    {
                                        <span>Tháng này</span>
                                    }
                                    else if (ViewBag.DateSales == "thisYear")
                                    {
                                        <span>Năm nay</span>
                                    }
                                    else
                                    {
                                        <span>Toàn bộ</span>
                                    }
                                </span>
                            </h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.Sales</h6>
                                    @* <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> *@

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                
                <!-- Customers Card -->
                <div class="col-xxl-6 col-xl-6">

                    <div class="card info-card customers-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterCustomer" asp-route-date="today">Hôm nay</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterCustomer" asp-route-date="thisMonth">Tháng này</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterCustomer" asp-route-date="thisYear">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">
                                Khách hàng
                                <span>
                                    | @if (ViewBag.DateTotalCustomer == "today")
                                    {
                                        <span>Hôm nay</span>
                                    }
                                    else if (ViewBag.DateTotalCustomer == "thisMonth")
                                    {
                                        <span>Tháng này</span>
                                    }
                                    else if (ViewBag.DateTotalCustomer == "thisYear")
                                    {
                                        <span>Năm nay</span>
                                    }
                                    else
                                    {
                                        <span>Toàn bộ</span>
                                    }
                                </span>
                            </h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.TotalCustomer</h6>
                                    @* <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span> *@

                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->
                <!-- Reports -->
                <div class="col-12">
                    <div class="card">

                        @* <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                                <li><a class="dropdown-item" href="#">Tháng này</a></li>
                                <li><a class="dropdown-item" href="#">Năm nay</a></li>
                            </ul>
                        </div> *@

                        <div class="card-body">
                            <h5 class="card-title">Báo cáo <span>/ Hôm nay</span></h5>

                            <!-- Line Chart -->
                            <div id="reportsChart"></div>

                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    new ApexCharts(document.querySelector("#reportsChart"), {
                                        series: [{
                                            name: 'Doanh thu',
                                            data: [@Html.Raw(ViewBag.ReportRevenue)]
                                        }],
                                        chart: {
                                            height: 350,
                                            type: 'area',
                                            toolbar: {
                                                show: false
                                            },
                                        },
                                        markers: {
                                            size: 4
                                        },
                                        colors: ['#2eca6a'],
                                        fill: {
                                            type: "gradient",
                                            gradient: {
                                                shadeIntensity: 1,
                                                opacityFrom: 0.3,
                                                opacityTo: 0.4,
                                                stops: [0, 90, 100]
                                            }
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },
                                        stroke: {
                                            curve: 'smooth',
                                            width: 2
                                        },
                                        xaxis: {
                                            type: 'datetime',
                                            categories: @Html.Raw(date)
                                        },
                                        tooltip: {
                                            x: {
                                                format: 'dd/MM/yy HH:mm'
                                            },
                                        }
                                    }).render();
                                });
                            </script>
                            <!-- End Line Chart -->

                        </div>

                    </div>
                </div><!-- End Reports -->
                
                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterRecentSale" asp-route-date="today">Hôm nay</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterRecentSale" asp-route-date="thisMonth">Tháng này</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterRecentSale" asp-route-date="thisYear">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">
                                Doanh thu gần đây <span>
                                    | @if (ViewBag.DateRecentSale == "today")
                                    {
                                        <span>Hôm nay</span>
                                    }
                                    else if (ViewBag.DateRecentSale == "thisMonth")
                                    {
                                        <span>Tháng này</span>
                                    }
                                    else if (ViewBag.DateRecentSale == "thisYear")
                                    {
                                        <span>Năm nay</span>
                                    }
                                    else
                                    {
                                        <span>Toàn bộ</span>
                                    }
                                </span>
                            </h5>

                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Người mua</th>
                                        <th scope="col">Sẳn phẩm</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.RecentSale)
                                    {
                                        <tr>
                                            <th scope="row"><a href="#">#@item.STT</a></th>
                                            <td>@item.CustomerName</td>
                                            <td><a href="#" class="text-primary">@item.ProductName</a></td>
                                            <td>@item.Price VND</td>
                                            @* @if (item.Status == "Đã xác nhận")
                                            {
                                                <td><span class="badge bg-danger">@item.Status</span></td>
                                            }
                                            else if (item.Status == "Đang lấy hàng")
                                            {
                                                <td><span class="badge bg-warning">@item.Status</span></td>
                                            }
                                            else if (item.Status == "Đang giao hàng")
                                            { *@
                                                <td><span @* class="badge bg-success" *@>@item.Status</span></td>
                                            @* } *@
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Recent Sales -->
                <!-- Top Selling -->
                <div class="col-12">
                    <div class="card top-selling overflow-auto">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterTopSelling" asp-route-date="today">Hôm nay</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterTopSelling" asp-route-date="thisMonth">Tháng này</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterTopSelling" asp-route-date="thisYear">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body pb-0">
                            <h5 class="card-title">
                                Bán chạy nhất
                                <span>
                                    | @if (ViewBag.DateTopSelling == "today")
                                    {
                                        <span>Hôm nay</span>
                                    }
                                    else if (ViewBag.DateTopSelling == "thisMonth")
                                    {
                                        <span>Tháng này</span>
                                    }
                                    else if (ViewBag.DateTopSelling == "thisYear")
                                    {
                                        <span>Năm nay</span>
                                    }
                                    else
                                    {
                                        <span>Toàn bộ</span>
                                    }
                                </span>
                            </h5>

                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">Sản phẩm</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Số lượng tồn</th>
                                        <th scope="col">Doanh thu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.TopSelling)
                                    {
                                        <tr>
                                            <th scope="row"><a href="#"><img src="images/products/@item.Image" alt=""></a></th>
                                            <td style="max-width: 200px;"><a href="#" class="text-primary fw-bold">@item.Name</a></td>
                                            <td>@item.Price VND</td>
                                            <td class="fw-bold">@item.Sold</td>
                                            <td>@item.Revenue VND</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Top Selling -->

            </div>
        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-4">

            <!-- News & Updates Traffic -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Lọc</h6>
                        </li>

                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterPost" asp-route-date="today">Hôm nay</a></li>
                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterPost" asp-route-date="thisMonth">Tháng này</a></li>
                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="FilterPost" asp-route-date="thisYear">Năm nay</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">Tin tức &amp; Cập nhật 
                        <span>
                            | @if (ViewBag.DatePost == "today")
                            {
                                <span>Hôm nay</span>
                            }
                            else if (ViewBag.DatePost == "thisMonth")
                            {
                                <span>Tháng này</span>
                            }
                            else if (ViewBag.DatePost == "thisYear")
                            {
                                <span>Năm nay</span>
                            }
                            else
                            {
                                <span>Toàn bộ</span>
                            }
                        </span>
                    </h5>

                    <div class="news mb-3">
                        @foreach (var item in ViewBag.Posts)
                        {
                            <div class="post-item clearfix">
                                <img src="/images/posts/@item.Image" alt="">
                                <h4><a asp-area="Admin" asp-controller="Post" asp-action="Index" asp-route-id="@item.Id" class="title-news">@item.Title</a></h4>
                            </div>
                        }
                    </div><!-- End sidebar recent posts-->

                </div>
            </div><!-- End News & Updates -->
            @* <!-- Budget Report -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Lọc</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                        <li><a class="dropdown-item" href="#">Tháng này</a></li>
                        <li><a class="dropdown-item" href="#">Năm nay</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">Báo cáo ngân sách <span>| Hôm nay</span></h5>

                    <div id="budgetChart" style="min-height: 400px;" class="echart"></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
                                legend: {
                                    data: ['Ngân sách phân bổ', 'Chi tiêu thực tế']
                                },
                                radar: {
                                    // shape: 'circle',
                                    indicator: [{
                                        name: 'Công nghệ thông tin',
                                        max: 6500
                                    },
                                    {
                                        name: 'Quản lý',
                                        max: 16000
                                    },
                                    {
                                        name: 'Doanh số',
                                        max: 30000
                                    },
                                    {
                                        name: 'Hỗ trợ khách hàng',
                                        max: 38000
                                    },
                                    {
                                        name: 'Phát triển',
                                        max: 52000
                                    },
                                    {
                                        name: 'Tiếp thị',
                                        max: 25000
                                    }
                                    ]
                                },
                                series: [{
                                    name: 'Budget vs spending',
                                    type: 'radar',
                                    data: [{
                                        value: [4200, 3000, 20000, 35000, 50000, 18000],
                                        name: 'Ngân sách phân bổ'
                                    },
                                    {
                                        value: [5000, 14000, 28000, 26000, 42000, 21000],
                                        name: 'Chi tiêu thực tế'
                                    }
                                    ]
                                }]
                            });
                        });
                    </script>

                </div>
            </div><!-- End Budget Report -->
            <!-- Website Traffic -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Lọc</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                        <li><a class="dropdown-item" href="#">Tháng này</a></li>
                        <li><a class="dropdown-item" href="#">Năm nay</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">Lưu lượng truy cập <span>| Hôm nay</span></h5>

                    <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            echarts.init(document.querySelector("#trafficChart")).setOption({
                                tooltip: {
                                    trigger: 'item'
                                },
                                legend: {
                                    top: '5%',
                                    left: 'center'
                                },
                                series: [{
                                    name: 'Truy cập từ',
                                    type: 'pie',
                                    radius: ['40%', '70%'],
                                    avoidLabelOverlap: false,
                                    label: {
                                        show: false,
                                        position: 'center'
                                    },
                                    emphasis: {
                                        label: {
                                            show: true,
                                            fontSize: '18',
                                            fontWeight: 'bold'
                                        }
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                    data: [{
                                        value: 1048,
                                        name: 'Máy tìm kiếm'
                                    },
                                    {
                                        value: 735,
                                        name: 'Trực tiếp'
                                    },
                                    {
                                        value: 580,
                                        name: 'Email'
                                    },
                                    {
                                        value: 484,
                                        name: 'Quảng cáo'
                                    },
                                    {
                                        value: 300,
                                        name: 'Quảng cáo video'
                                    }
                                    ]
                                }]
                            });
                        });
                    </script>

                </div>
            </div><!-- End Website Traffic --> *@

        </div><!-- End Right side columns -->

    </div>
</section>